.Navbar-background {
    background-color: rgb(44, 44, 241);
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-between; 
    padding-left: 20px 0;
    padding-right: 20px 0;
    color:rgb(44, 77, 242);
    font-size: 17px;
}